.Post {
    display: block;
}

.Post > p {
    margin-top: 1em;
    margin-bottom: 1em;
}

.Post ul {
    margin-top: 1em;
    margin-bottom: 1em;
    padding-left: 1.5em;
    list-style-type: disc;
}

.Post ul li {
    margin-top: 0.25em;
    margin-bottom: 0.25em;
}

.Post h2 {
    font-size: 1.6em;
    font-weight: bold;
    margin-top: 1.5em;
    margin-bottom: 0.5em;
}

.Post h3 {
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 1.5em;
    margin-bottom: 0.5em;
}

.Post h4 {
    font-size: 1.3em;
    font-weight: bold;
    margin-top: 1.5em;
    margin-bottom: 0.5em;
}

.Post h5 {
    font-size: 1.2em;
    font-weight: bold;
    margin-top: 1.5em;
    margin-bottom: 0.5em;
}

.Post > img {
    display: block;
    margin: 1em auto;
    max-width: 100%;
}
